{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>Because<br>I spit hot fire!</h1>
        <br>
        <p><a class="btn btn-lg btn-success" href="/challenge" role="button">Challenge</a></p>
    </div>

    <div class="row marketing">
        <div class="col-lg-12">
            <h3>Who are the top five rappers in the game?</h3>
            <br>
           <p class="lead">Dylan...Dylan, Dylan, Dylan, and Dylan. Because he spits hot fire!</p>
           <p class="lead">Challenge Dylan to a rap battle and he will send you crying home to mommy.</p>
           <p class="lead">Uses the NLTK, Carnegie Mellon's rhyming dictionary, and a corpus of 30,000 hip-hop tracks.</p>
        </div>
    </div>
{% endblock %}
